.button {
    padding: 10px 0;
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    width: 200px;
}
