.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    background-color: #e74c3c;
    border-radius: 5px;

    .modal-close {
        position: absolute;
        right: 25px;
        top: 25px;
        display: inline-flex;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        user-select: none;
        background-color: transparent;
        cursor: pointer;
    }

    .modal-header {
        padding: 20px 35px;
        background-color: #d63a2c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        p {
            margin: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .modal-content {
        text-align: center;
        color: #ffffff;
        padding: 15px 40px;
        font-size: 14px;
        line-height: 28px;
    }

    .modal-footer {
        padding: 15px;
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .modal-button {
        padding: 10px 0;
        border-radius: 5px;
        border-color: transparent;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        font-family: Roboto, sans-serif;
        cursor: pointer;
        width: 100px;
        background-color: #b3382c;
    }
}
